.mainContainer {
    display: flex;
    justify-content: space-between; /* Alinea `Levels` y `Container` uno al lado del otro */
    align-items: flex-start; /* Asegura que ambos componentes estén alineados en la parte superior */
    gap: 20px;
    padding: 20px 40px;
}

.containerList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: flex-start; /* Mantiene los contenedores arriba */
    flex: 3; /* Ocupa más espacio que Levels */
}

/* Asegurarse que Levels se quede fijo a la derecha */
.levels {
    flex: 1; /* Ocupa menos espacio que Container */
    position: sticky;
    top: 20px;
    height: fit-content;
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}