.containerMain{
    margin: 20px 50px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button{
    background-color: #2D9BF0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 50px;
    color: white;
}
.buttons button:hover{
    background-color: #2b81c3;
    transition: 0.5s;
}

.levels{
    display: block;
    float: right;
    margin-right: 50px;
    text-align: center;
    border: 1px rgb(152, 152, 152) solid;
    padding: 20px;
}

.levels h2{
    margin: 0;
    font-size: 35px;
}

.levels li{
    list-style: none;
    padding: 5px;
    font-size: 20px;
}

.levels ul {
    padding: 0;
}

.addContainer h2{
    font-size: 30px;
}

.addContainer button{
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #8FD14F;
    color: white;
    cursor: pointer;
}